:root {
    --calculator-element-padding: .5rem;
    --display-font-size: 2.5rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: darkslategray;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: var(--display-font-size);
}

main {
    background-color: lightgray;
    border-radius: 2% 8%;
    overflow: hidden;
}

button {
    padding: var(--calculator-element-padding);
    font-size: 2rem;
}

.upper,  .buttons {
    padding: 2rem;
}

.upper {
    background-color: gray;
}

.display {
    min-height: calc(var(--display-font-size) + 2 * var(--calculator-element-padding));     /* Sizes height to fontsize + padding */
    line-height: var(--display-font-size);
    padding: var(--calculator-element-padding) 1.5rem;
    background-color: darkseagreen;
    border-radius: .3rem;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#clear {
    font-size: 1.25rem;
    font-weight: bold;
}

#\1 {
    background-color: black;
}