:root {
    --calculator-element-padding: .4rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: darkslategray;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    background-color: lightgray;
    border-radius: 2% 8%;
    overflow: hidden;
}

button {
    padding: var(--calculator-element-padding);
}

body, button {
    font-size: 2rem;
}

.upper,  .buttons {
    padding: 2rem;
}

.upper {
    background-color: gray;
}

.display {
    min-height: 1rem;
    padding: var(--calculator-element-padding);
    background-color: darkseagreen;
    margin: 0 0 1rem;
    border-radius: 2%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#clear {
    font-size: 1.25rem;
    font-weight: 600;
}